:root {
  --renklendir: linear-gradient(to bottom, #7dad04 0%, #679001 100%);
  --cat_bar: linear-gradient(to bottom, #7dad04 0%, #679001 100%);
  --nth_chi1: linear-gradient(to bottom, #7dad04 0%, #679001 100%);
  --nth_chi2: linear-gradient(to bottom, #679001 0%, #7dad04 100%);
  --nth_chi3: linear-gradient(to bottom, #7dad04 0%, #679001 100%);
  --nth_chi4: linear-gradient(to bottom, #679001 0%, #7dad04 100%);
  --nth_chi5: linear-gradient(to bottom, #7dad04 0%, #679001 100%);
  --nth_chi6: linear-gradient(to bottom, #679001 0%, #7dad04 100%);
  --nth_chi7: linear-gradient(to bottom, #7dad04 0%, #679001 100%);
  --nth_chi8: linear-gradient(to bottom, #679001 0%, #7dad04 100%);
  --nth_chi9: linear-gradient(to bottom, #7dad04 0%, #679001 100%);
  --nth_chi10: linear-gradient(to bottom, #679001 0%, #7dad04 100%);

  --up_contain: linear-gradient(to bottom, #e7f5de 0%, #e9f1e4 95%);
  --button_hover: linear-gradient(to bottom, #e7f5de 0%, #e9f1e4 95%);
  --top_menu: linear-gradient(to bottom, #e7f5de 0%, #e9f1e4 95%);
  --div_catbar: #4baa4b;
}

#footer,
.bg-white {
  background-color: #679001 !important;
  background: linear-gradient(to bottom, #7dad04 0%, #679001 100%);
}
.rounded {
  background: #377207;
}
#footer {
  border-image: linear-gradient(
    to right,
    #eeeaeb 0%,
    #fce734 50%,
    #e8e8eb 100%
  );
}
#footer::after {
  background: radial-gradient(
    ellipse at center,
    rgba(67, 251, 0, 0.6) 0%,
    rgba(68, 255, 0, 0.15) 40%,
    rgba(90, 250, 0, 0.05) 55%,
    rgba(43, 252, 0, 0) 70%
  );
}
.wrap .blob {
  background-color: rgb(51, 233, 96);
}
