:root {
  --renklendir: linear-gradient(to bottom, rgb(8, 8, 8) 0%, #141414 95%);
  --cat_bar: linear-gradient(
    45deg,
    rgb(56, 55, 56) 0%,
    rgba(99, 1, 143, 1) 33%,
    rgb(57, 50, 58) 50%,
    rgba(99, 1, 143, 1) 66%,
    rgb(23, 16, 24) 100%
  );
  --nth_chi1: linear-gradient(to left, #323436, #1e1d25);
  --nth_chi2: linear-gradient(to left, #4b3158, #742366);
  --nth_chi3: linear-gradient(to left, #4b373e, #632b20);
  --nth_chi4: linear-gradient(to left, #685c45, #545f1b);
  --nth_chi5: linear-gradient(to left, #415537, #184d21);
  --nth_chi6: linear-gradient(to left, #2a463d, #1c4a53);
  --nth_chi7: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  --nth_chi8: linear-gradient(
    90deg,
    rgba(22, 103, 1, 1) 0%,
    rgba(9, 121, 12, 1) 35%,
    rgba(39, 255, 0, 1) 100%
  );
  --nth_chi9: linear-gradient(
    90deg,
    rgba(103, 1, 1, 1) 0%,
    rgba(121, 9, 9, 1) 35%,
    rgba(255, 0, 0, 1) 100%
  );
  --nth_chi10: linear-gradient(
    90deg,
    rgba(103, 68, 1, 1) 0%,
    rgba(121, 86, 9, 1) 35%,
    rgba(255, 149, 0, 1) 100%
  );

  --up_contain: linear-gradient(to bottom, rgb(8, 8, 8) 0%, #1a1a1a 95%);
  --button_hover: linear-gradient(to bottom, rgb(29, 27, 27) 0%, #212122 70%);
  --top_menu: linear-gradient(to bottom, rgb(41, 39, 39) 0%, #1a1c1f 95%);
  --div_catbar: #191b1d;
}
html {
  background-image: linear-gradient(
    to bottom,
    #2e2d2d 0%,
    #252525 95%
  ) !important;
}

body {
  background-image: linear-gradient(
    to bottom,
    #222121 0%,
    #1f1e1e 95%
  ) !important;
  color: #9a9a9a;
}

::selection {
  background: #272727;
  color: rgba(184, 179, 179, 0.6);
}

input,
button,
select,
textarea {
  color: rgb(221, 216, 216);
  background: rgb(10, 10, 10);
  border: 1px solid rgb(61, 60, 60);
  box-shadow: 1px 2px 1px rgba(66, 66, 66, 0.2) inset;
}

input:hover,
textarea:hover,
button:hover,
select:hover {
  border-color: #1b2329;
}

textarea:hover {
  background: #222222;
}

input:focus,
textarea:focus,
button:focus,
select:focus {
  border-color: #313131;
  background: rgb(37, 37, 37);
}

fieldset {
  border: 1px solid rgb(90, 89, 89);
}

fieldset legend {
  color: rgb(73, 73, 73);
}

strong,
.strong {
  color: rgb(245, 241, 241);
}

.cat_bar strong {
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(245, 245, 245);
}

input[type="checkbox"],
input[type="radio"] {
  border: none;
  background: none;
  box-shadow: none;
}
input[disabled],
textarea[disabled],
select[disabled],
.button.disabled,
.button[disabled]:hover {
  background: rgb(56, 56, 56);
  color: rgb(248, 241, 241);
  border-color: #757575;
}
hr {
  background: rgb(36, 36, 36);
  box-shadow: 0 1px 0 rgb(252, 105, 232) inset;
}
a,
a:visited {
  color: rgb(196, 196, 196);
}
.new_posts,
a.new_posts {
  background: linear-gradient(#723a02, #4b2b01);
  color: #fff;
}

a.new_posts:visited {
  color: #fff;
}
blockquote {
  border: 1px solid #757575;
  color: rgb(214, 214, 214);
}

blockquote cite {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

blockquote cite > a {
  color: #b0f;
}

blockquote cite::before {
  color: #aaa;
}

.bbc_standard_quote {
  background-color: #2e2e2e;
}

.bbc_alternate_quote {
  background-color: #3c3d3d;
}
.bbc_code {
  font-family: "dejavu sans mono", monaco, "lucida console", "courier new",
    monospace;
  background: #303030;
  border: 1px solid rgb(43, 42, 42);
}
.codeheader,
.quoteheader {
  color: rgb(247, 244, 244);
  border: 1px solid rgb(102, 102, 102);
  background: #202020;
}
.bbc_link {
  border-bottom: 1px solid #4d535f;
}

.bbc_link:hover {
  border-bottom: 1px solid rgb(33, 44, 66);
}

.bbc_img {
  border: 1px solid rgb(85, 85, 88);
  box-shadow: 3px 3px 8px 0 rgba(255, 108, 230, 0.75);
}
.highlight {
  color: #ff7200 !important;
  background-color: inherit;
}
.current_page {
  color: #b46100;
}
.birthday {
  color: #920ac4;
}

.event {
  color: #078907;
}

.holiday > span {
  color: #025dff;
}
.warn_moderate {
  color: orange;
}

.warn_watch,
.success {
  color: green;
}

a.moderation_link,
a.moderation_link:visited {
  background: #614003;
}
#ajax_in_progress {
  background: rgb(34, 34, 34);
  border-bottom: 4px solid #6e3201;
  color: #eeab75;
}

#ajax_in_progress a {
  color: rgb(253, 213, 137);
}

.postbg {
  border-left: 1px solid #2b2a2a;
  border-right: 1px solid #2c2c2c;
}
.auto_suggest_div {
  border: 1px solid rgb(43, 42, 42);
}

.auto_suggest_item {
  background: rgb(12, 12, 12);
}

.auto_suggest_item_hover {
  background: rgb(27, 27, 27);
  color: #eee;
}
.amt {
  color: #fff;
  background: #830144;
}

.dropmenu li .active .amt,
#top_info li .active .amt {
  background: rgba(0, 0, 0, 0.2);
  color: inherit;
}
.nav-item > img.avatar {
  border-style: none;
}
.dropmenu li strong {
  color: rgb(207, 206, 206);
}

.dropmenu li a {
  border: 1px solid transparent;
}
.dropmenu a.active {
  color: #fff;
  border-color: #864704;
  background: linear-gradient(#8d0299, #55014c);
  text-shadow: 0 0 2px rgb(58, 58, 58);
}
.dropmenu > li:hover > a,
.dropmenu > li > a:focus {
  background: #1d1d1d;
  border: 1px solid #373838;
  color: #fff;
  box-shadow: 0 4px 4px rgba(255, 95, 207, 0.1) inset;
  text-shadow: 0 0 2px #000;
}
.dropmenu li a.active:hover,
.dropmenu li:hover a.active {
  background: rgb(136, 0, 102);
  border: 1px solid #720150;
  color: rgb(224, 221, 221);
  box-shadow: 0 5px 5px rgba(255, 255, 255, 0.2) inset;
  text-shadow: none;
}
.navbar::after {
  box-shadow: 0 4px 11px rgba(195, 18, 210, 0.7);
}

.pm_unread,
.alerts_unread {
  border-top: 1px solid rgb(53, 53, 53);
}
.unread_notify {
  border-bottom: 1px solid rgb(46, 46, 46);
}
.unread_notify:hover {
  background: rgb(12, 12, 12);
}
.unread_notify_image .avatar + .alert_icon {
  right: -15px;
  color: #d4d4d4;
}
.align-items-center {
  border-bottom: 1px solid rgb(54, 54, 54);
}
.dropmenu li ul,
.top_menu {
  border: solid 1px rgb(58, 58, 58);
  border-left: solid 1px rgb(80, 79, 79);
  border-top: solid 1px rgb(83, 83, 83);
  box-shadow: 0px 0px 6px rgba(229, 104, 241, 0.3);
  background: rgb(7, 7, 7);
}
.dropmenu li li {
  border: 1px solid transparent;
}
.dropmenu li:hover li a,
.dropmenu li li a {
  background: none;
  color: rgb(255, 249, 249);
  border: none;
}
.dropmenu ul a:focus,
.dropmenu ul ul a:focus {
  border: none;
}
.dropmenu li li:hover {
  border: none;
}

.dropmenu li li:hover > a,
.dropmenu li li a:focus,
.dropmenu li li a:hover {
  color: rgb(235, 235, 235);
  border: 1px solid #474747;
  border-top: 1px solid #424242;
}

.dropmenu li li.subsections > a::after {
  font: 83.33% Arial, sans-serif;
}
ul.konusal > li {
  border: 1px solid #4a4749;
  background-image: linear-gradient(to bottom, rgb(22, 21, 21) 0%, #363636 95%);
}
.button,
.quickbuttons > li > a,
.inline_mod_check {
  color: rgb(250, 249, 249);
  border: 1px solid;
  border-color: rgb(59, 58, 58) rgb(19, 18, 18) rgb(19, 18, 18) rgb(12, 12, 12);
  box-shadow: 1px 1px 1px rgba(14, 13, 13, 0.57);
}

.pagesection .button {
  color: rgb(238, 241, 248);
}

.button:hover,
.button:focus,
.quickbuttons > li:hover > a,
.quickbuttons > li > a:focus {
  color: rgb(252, 248, 248);
  border-color: rgb(53, 52, 52) rgb(49, 49, 49) rgb(48, 47, 47) rgb(44, 44, 44);
  box-shadow: -1px -1px 2px rgba(29, 29, 29, 0.7),
    -1px -2px 4px rgb(29, 29, 29) inset;
}

.button:hover,
.button:focus {
  color: #bdbdbd;
}
.button.active {
  background: #2b2b2b;
  color: #fff;
  border: 1px solid #484848;
  text-shadow: 0 0 1px #000;
}

.button.active:hover,
.button.active:focus {
  color: #a3a3a3;
  background: #202020;
  box-shadow: none;
}


.bg-white {
  background-image: linear-gradient(to bottom, rgb(8, 8, 8) 0%, #171717 95%);
}

.topbar .topbar-divider {
  border-right: 1px solid rgb(19, 19, 19) !important;
}
#top_section {
  border-bottom: 1px solid rgb(0, 0, 0);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16);
  background: rgb(0, 0, 0);
}
#alerts_menu a,
#pm_menu a,
#profile_menu a {
  color: rgb(245, 245, 245);
}
h1.forumtitle a {
  color: #ad009b;
  text-shadow: 0 2px 0 hsl(295.4, 82.5%, 24.7%),
    0 3px 3px rgba(181, 77, 170, 0.2), 0 5px 10px rgba(136, 136, 136, 0.3);
  text-decoration: none;
}

#inner_wrap {
  border-bottom: 1px solid rgb(83, 83, 83);
}
.navigate_section ul {
  border: 1px solid rgb(85, 84, 84);
  box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.08);
}

.navigate_section ul li {
  color: rgb(248, 247, 247);
  text-shadow: 1px 1px 0 rgb(122, 122, 122);
}
.navigate_section ul li .dividers {
  color: #86c7f8;
}
#footer {
  background-image: linear-gradient(
    to bottom,
    #181818 0%,
    #000000 95%
  ) !important;
}
#footer li,
#footer p,
#footer a {
  color: #f8f8f8;
}
#index_common_stats {
  border-top: 1px solid rgb(39, 39, 39);
}
.quickbuttons > li > a,
.inline_mod_check {
  color: rgb(211, 211, 211);
}
.moderationbuttons_check:focus {
  box-shadow: 0 0 4px #499dd8;
}
.post_options ul {
  background: rgb(53, 53, 53);
  border: solid 1px rgb(121, 121, 121);
  border-left: solid 1px rgb(82, 81, 81);
  border-top: solid 1px rgb(53, 53, 53);
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
}
.post_options ul a {
  border: 1px solid transparent;
  color: rgb(211, 210, 210);
}

.post_options ul a:hover,
.post_options ul a:focus {
  border-color: #27292b;
}
#registration fieldset {
  border: none;
}

#registration .roundframe {
  border-top: none;
}
.coppa_contact {
  background: rgb(53, 48, 48);
  color: rgb(243, 237, 237);
  border: 1px solid #222;
}

.valid_input {
  background: #141414;
}

.invalid_input {
  background: #303030;
}
.errorfile_table {
  background: #181818;
}

.errorfile_table td.current {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(245, 141, 15, 0.2);
}
.main_icons.gender_None::before {
  background: none;
}

.errorbox {
  background-color: #e74a3b;
  background-image: linear-gradient(180deg, #e74a3b 10%, #be2617 100%);
  color: #fff;
}
.noticebox {
  color: #666;
  background: #fff6ca;
  border-top: 1px solid #ffd324;
  border-bottom: 1px solid #ffd324;
}

.infobox {
  color: #222;
  background: #cfc;
  border-top: 1px solid green;
  border-bottom: 1px solid green;
}

.descbox {
  border: 1px solid #c5c5c5;
}
.generic_bar,
.progress_bar {
  border: 1px solid #cecaca;
  background: #fff;
  color: rgba(0, 0, 0, 0.6);
}

.generic_bar span,
.progress_bar span {
  text-shadow: 1px 1px rgba(255, 255, 255, 0.4);
}

.generic_bar .bar,
.progress_bar .bar {
  background: orange;
  box-shadow: 4px -4px 8px rgba(0, 0, 0, 0.1) inset,
    4px 4px 8px rgba(255, 255, 255, 0.3) inset;
}

.generic_bar.vertical .bar {
  box-shadow: 4px -4px 4px rgba(0, 0, 0, 0.1) inset,
    4px 4px 4px rgba(255, 255, 255, 0.3) inset;
}

.progress_bar {
  color: rgba(0, 0, 0, 0.8);
}

.progress_bar .bar {
  box-shadow: -1px 1px 0 rgba(255, 255, 255, 0.25) inset,
    1px -1px 0 rgba(0, 0, 0, 0.1) inset;
  background-color: #75da41;
  background-image: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.15) 25% transparent 25% transparent 50%
      rgba(255, 255, 255, 0.15) 50% rgba(255, 255, 255, 0.15) 75% transparent
      75% transparent
  );
}

.progress_yellow .bar {
  background-color: #f6c51c;
}

.progress_green .bar {
  background-color: #75da41;
}

.progress_red .bar {
  background-color: #f45d4c;
}

.progress_blue .bar {
  background-color: #34c2e3;
}
#detailedinfo dl,
#tracking dl {
  border-bottom: 1px #ccc solid;
}

#detailedinfo dt,
#tracking dt {
  color: rgb(233, 233, 233);
}

.activity_stats li span {
  border: 1px solid rgb(46, 46, 46);
  background: rgb(17, 17, 17);
}

.activity_stats li.last span {
  border-right: none;
}

.activity_stats li .generic_bar {
  border-bottom: none;
}
.profile_pie {
  background: url(../images/stats_pie.png);
  background-size: auto 20px;
  text-indent: -1000em;
}
.counter {
  color: #3f3f3f;
}

.list_posts {
  border-top: 1px solid rgb(87, 87, 87);
  box-shadow: 0 1px 0 rgb(51, 51, 51) inset;
}

.boardslist a {
  border-bottom: 1px solid #4d4d4d;
}

.boardslist a:hover {
  border-bottom: 1px solid #346;
}

#pick_theme .selected {
  background: #cddbe6;
}
.warning_level.none .bar {
  background-color: #75da41;
}

.warning_level.watched .bar {
  background-color: #ffd800;
}

.warning_level.moderated .bar {
  background-color: orange;
}

.warning_level.muted .bar {
  background-color: #f45d4c;
}
#personal_messages .capacity_bar {
  background: #363636;
  border: 1px solid #202020;
}

#personal_messages .capacity_bar span {
  border-right: 1px solid #3d3d3d;
}

#personal_messages .capacity_bar span.empty {
  background: #a6d69d;
}

#personal_messages .capacity_bar span.filled {
  background: #eea800;
}

#personal_messages .capacity_bar span.full {
  background: #f10909;
}
dl.addrules dt.left {
  color: rgb(216, 216, 216);
}
.unread_pm {
  background: #cfc;
}
#helpmain {
  border: 1px solid #ddd;
  box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.1);
}
.tooltip {
  color: rgb(241, 238, 238);
  background: rgb(19, 19, 19);
  border: 1px solid rgb(26, 25, 25);
  box-shadow: 1px 2px 4px rgba(17, 17, 17, 0.2),
    0 0 10px rgba(0, 0, 0, 0.05) inset;
}

.popup_container {
  background: rgba(112, 75, 108, 0.5);
}

.popup_window,
#main_menu .popup_window,
#genericmenu .popup_window,
#adm_submenus .popup_window {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  border: 1px solid rgb(48, 47, 47);
}
.popup_heading {
  color: #ffc073;
}

.popup_ {
  color: rgb(235, 228, 228);
  border: 1px solid rgb(63, 63, 63);
  border-bottom: 1px solid rgb(46, 46, 46);
  box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.15), 0 1px 1px rgba(255, 255, 255, 0.2);
}
.popup_content {
  color: rgb(207, 202, 202);
  border: 1px solid #604b6c;
}
#main_menu .popup_container,
#genericmenu > .popup_container,
#adm_submenus > .popup_container {
  background: none;
}

.generic_list_wrapper,
.windowbg,
.approvebg,
.approvebg2 {
  background: #121313;
  border: 1px solid rgb(43, 43, 43);
  box-shadow: 0 -2px 2px rgba(82, 81, 81, 0.1);
}

/* Here comes the glory... */
.windowbg:nth-of-type(even),
.bg.even {
  background: #1c1c1d;
}

.windowbg:nth-of-type(odd),
.bg.odd {
  background: #161616;
}

/* Highlight the target item */
.windowbg:target {
  background: #333333;
}
tr.windowbg:hover {
  background: #202020;
}

.windowbg.locked {
  background: #682c4f;
}
.windowbg.sticky {
  background: #6b42a0;
}
.windowbg.sticky.locked {
  background: #431463;
}
.windowbg.approvetopic {
  background: #e4a17c;
}
.windowbg.approvepost {
  background: #ffcbcb;
}
.generic_list_wrapper table.table_grid {
  border-bottom: 1px solid rgb(87, 87, 87);
}
tr.windowbg {
  box-shadow: none;
}
.approvebg {
  color: rgb(250, 250, 250);
  background: #505050;
}

.approvebg2 {
  color: rgb(202, 200, 200);
  background: #333333;
}
#groups .windowbg {
  box-shadow: none;
  border-top: 0;
}
.board_icon a {
  color: #ffeb3b;
  background: -webkit-linear-gradient(#ffeb3b, #ff9800);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.board_icon a.board_on2 {
  background: -webkit-linear-gradient(
    90deg,
    rgba(108, 9, 133, 1) 0%,
    rgba(86, 9, 121, 1) 35%,
    rgba(243, 0, 255, 1) 100%
  );
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.board_icon a.board_off {
  background: -webkit-linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.board_icon a.board_redirect {
  background: -webkit-linear-gradient(
    90deg,
    rgba(66, 2, 60, 1) 0%,
    rgba(121, 9, 17, 1) 35%,
    rgba(255, 0, 0, 1) 100%
  );
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.info {
  background: url(../images/BG.png) left no-repeat;
}

.info .subject {
  color: #b4b1af;
}

.board_stats {
  background: url(../images/BG.png) left no-repeat;
}

.lastpost {
  background: url(../images/BG.png) left no-repeat;
}
.main_container::after,
.main_container::before {
  box-shadow: 0 15px 10px rgba(195, 18, 210, 0.7);
}

.up_contain {
  border: 1px solid rgb(10, 10, 10);
}

.children {
  border-top: 1px solid rgb(17, 17, 17);
}
#info_center .sub_bar {
  border-top: 1px solid rgb(34, 33, 33);
}

#info_center .sub_bar:first-child {
  border-top: none;
}
#ic_recentposts td {
  border-top: 1px solid #070707;
}

#ic_recentposts tr:first-child td {
  border-top: none;
}
#ic_recentposts .recenttime strong {
  color: rgb(223, 223, 223);
}

#ic_recentposts .windowbg {
  background: none;
}

#upshrink_stats p.inline {
  border: none;
}
#description_board,
._row {
  border-bottom: none;
  box-shadow: none;
}

#topic_header.title_bar .info,
#topic_header.title_bar .board_stats,
#topic_header.title_bar .lastpost {
  background: none !important;
}
#topic_container .windowbg {
  border: 1px solid rgba(0, 0, 0, 0.13);
  border-top: none;
  box-shadow: none;
}

.poster h4,
.poster h4 a,
.poster li:hover h4 a,
.poster h4 a:hover .poster li h4 a,
.poster h4 a:focus {
  color: #faa54f;
}

.poster li.poster_online a {
  color: #c06002;
}

.keyinfo .postinfo a,
.keyinfo .postinfo a strong {
  color: #ad6825;
}

.keyinfo .postinfo .modified {
  color: rgb(231, 230, 230);
}

.subject_title a {
  color: rgb(230, 230, 230);
}

.page_number {
  color: #ffab58;
}

.inner {
  border-top: 1px solid #414040;
  box-shadow: 0 1px 0 rgb(22, 22, 22) inset;
}
#post_settings,
#postAttachment,
#postAttachment2,
#attachment_previews {
  border-top: 1px solid rgb(92, 92, 92);
}
#post_draft_options {
  background: #1d1d1d;
  border: 1px solid rgb(63, 63, 63);
  border-left: 1px solid rgb(51, 51, 51);
  border-top: none;
}

#post_draft_options .settings dd,
#post_draft_options .settings dt {
  border-top: 1px solid #222222;
}
#post_draft_options .settings strong {
  color: rgb(214, 214, 214);
}

.signature,
.attachments,
.under_message,
.custom_fields_above_signature,
.custom_fields_below_signature {
  border-top: 1px solid #363636;
  box-shadow: 0 1px 0 rgb(46, 46, 46) inset;
}

.errorfile_table td {
  background: #fbfbfb;
}

.errorfile_table .current {
  background: #fbc6c6;
}

.errorfile_table .file_line.current {
  background: #fb9090;
}

.errorfile_table .file_line {
  background: #ececec;
}
div.cat_bar {
  background: var(--div_catbar);
  border-bottom: 1px solid rgb(63, 63, 63);
  box-shadow: 0 16px 20px rgba(68, 68, 68, 0.15) inset;
  text-shadow: -1px -1px 1px rgba(44, 44, 44, 0.2);
}
.cat_bar .desc {
  color: #fff;
}

.cat_bar .desc a {
  color: #fff;
}

h3.catbg {
  font-family: Tahoma, sans-serif;
}

h3.catbg,
h3.catbg a,
h3.catbg a:hover {
  color: #fff;
}

h3.catbg a:hover {
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.4);
}

.main_container:nth-child(10n) div.cat_bar {
  background: var(--nth_chi10);
}

.main_container:nth-child(9) div.cat_bar {
  background: var(--nth_chi9);
}

.main_container:nth-child(8) div.cat_bar {
  background: var(--nth_chi8);
}

.main_container:nth-child(7) div.cat_bar {
  background: var(--nth_chi7);
}

.main_container:nth-child(6) div.cat_bar {
  background: var(--nth_chi6);
}

.main_container:nth-child(5) div.cat_bar {
  background: var(--nth_chi5);
}

.main_container:nth-child(4) div.cat_bar {
  background: var(--nth_chi4);
}

.main_container:nth-child(3) div.cat_bar {
  background: var(--nth_chi3);
}

.main_container:nth-child(2) div.cat_bar {
  background: var(--nth_chi2);
}

.main_container:nth-child(1) div.cat_bar {
  background: var(--nth_chi1);
}

div.cat_bar:nth-child(n) {
  background: var(--cat_bar);
}

div.cat_bar {
  color: #fff;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
}
.cat_bar .desc {
  color: rgb(199, 199, 199);
}

h3.catbg {
  background: none;
}

h3.catbg,
h3.catbg a,
h3.catbg a:hover {
  color: #fff;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
}

h3.catbg a:hover {
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.4);
}

.renklendir {
  background: linear-gradient(
    45deg,
    rgba(204, 0, 255, 1) 0 rgba(99, 1, 143, 1) 33% rgba(205, 87, 215, 1) 50%
      rgba(99, 1, 143, 1) 66% rgba(243, 0, 255, 1) 100%
  );
}
.roundframe {
  background: #303030;
  border: 1px solid #2e2e2e;
  box-shadow: 0 -2px 2px rgba(83, 83, 83, 0.1);
}
.title_bar {
  border: 1px solid rgb(71, 71, 71);
  border-top: 2px solid #ff00dd;
  border-bottom: 2px solid #af00bf;
  background: rgb(0, 0, 0);
  color: rgb(238, 238, 238);
}

.sub_bar {
  border-bottom: 1px solid rgb(71, 71, 71);
  text-shadow: none;
  background: none;
  box-shadow: 0 -1px 0 #999 inset;
}

h3.titlebg,
h4.titlebg,
.titlebg,
h3.subbg,
h4.subbg,
.subbg {
  background: none;
  color: rgb(211, 211, 211);
  text-shadow: none;
}

.titlebg a,
.subbg a {
  background: none;
  color: rgb(211, 211, 211);
}

.title_bar + .windowbg,
.title_bar + .roundframe {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.information {
  background-color: rgb(54, 54, 54);
  border: 1px solid #3b3b3b;
  border-left-color: #424242;
  border-left-color: #7a007e;
}

.generic_list_wrapper .information div {
  background: none;
}
#topic_icons .information,
#messageindex .information {
  border-top: 1px solid rgb(44, 44, 44);
}
.atwho-view {
  background: rgb(48, 48, 48);
  border: 1px solid rgb(39, 39, 39);
  box-shadow: 0 0 5px rgba(82, 82, 82, 0.1);
}

.atwho-view .cur {
  background: #36f;
  color: #fff;
}

.atwho-view .cur small {
  color: #fff;
}

.atwho-view strong {
  color: #36f;
}

.atwho-view .cur strong {
  color: #fff;
}

.atwho-view ul li {
  border-bottom: 1px solid #ddd;
}

.atwho-view small {
  color: #777;
}

.on,
.off {
  border: 1px solid transparent;
}

.on {
  background: #89e75a;
  border-color: #74d246;
}

.off {
  background: #a7a2a2;
  border-color: #969292;
}

.dropmenu li ul,
.top_menu,
.dropmenu li li:hover,
.button,
.dropmenu li li:hover > a,
.dropmenu li li a:focus,
.dropmenu li li a:hover,
#top_section,
.quickbuttons > li,
.quickbuttons li ul,
.quickbuttons li ul li a:hover,
.quickbuttons ul li a:focus,
.inline_mod_check,
.popup_window,
#inner_section,
.post_options ul,
.post_options ul a:hover,
.post_options ul a:focus,
.notify_dropdown a:hover,
.notify_dropdown a:focus {
  background: rgb(0, 0, 0);
  background-image: var(--top_menu);
}
.button:hover,
#search_form .button:hover,
.quickbuttons li:hover {
  background: rgb(0, 0, 0);
  background-image: var(--button_hover);
}
.navigate_section ul,
.popup_content,
.up_contain {
  background: rgb(6, 6, 6);
  background-image: var(--up_contain);
}

.notify_dropdown a:hover,
.notify_dropdown a:focus {
  border-color: rgb(20, 20, 20);
}
#_head p {
  color: #e9e5e5;
}

#reported_posts .quickbuttons li a,
#reported_members .quickbuttons li a {
  background: none;
}
.red,
.meaction,
.error,
.alert,
.warn_mute {
  color: red;
}

.blue {
  color: blue;
}

.green {
  color: green;
}
.stripes:nth-of-type(even) {
  background-color: #797979;
}

.stripes:nth-of-type(odd) {
  background-color: #8d8d8d;
}

.alternative {
  background-color: #646464;
}

.alternative2 {
  background-color: #464646;
}

.tfacode {
  background: #3c617e;
}

.videocontainer video {
  background: #000;
}

.backtrace:not(:last-child) {
  border-bottom: 1px solid rgb(26, 24, 24);
}

.rounded {
  background: #383838;
}
.rounded li > a {
  color: #fff;
}

.garipstyle {
  border: 2px solid #530158 !important;
}

.garipstyle .avatar {
  background: rgb(0, 0, 0);
  border: 4px solid #400046;
}
.hovercard .hovercard-box .hovercard-body {
  background: rgb(2, 2, 2);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), 0 4px 5px rgba(0, 0, 0, 0.1),
    0 0 0 1px rgba(0, 0, 0, 0.07);
}

.hovercard .hovercard-arrow {
  background: rgb(2, 2, 2);
  border-color: rgba(0, 0, 0, 0.12);
  border-style: solid;
  border-bottom: 0;
  border-right: 0;
}

.hovercard-body div.avatar {
  background: rgb(0, 0, 0);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 4px 5px rgba(0, 0, 0, 0.1),
    0 0 0 1px rgba(0, 0, 0, 0.07);
}

.snrjpostbit .poster {
  background: #130a10;
  border-right: 1px solid #292929;
}

.snrjpostbit:nth-of-type(odd) .postarea::before {
  background: #161616;
}

.snrjpostbit:nth-of-type(even) .postarea::before {
  background: #1c1c1d;
}

.snrjpostbit .postarea::before {
  border-color: rgba(0, 0, 0, 0.12);
  border-right-color: rgba(0, 0, 0, 0.12);
  border-bottom-color: rgba(0, 0, 0, 0.12);
}
.card-header {
  background-color: #141414;
  border-bottom: 1px solid #242424;
}
.card {
  background-color: rgb(5, 5, 5);
  background-clip: border-box;
  border: 1px solid #1f1f1f;
}
.card.shadow {
  box-shadow: 0 0.15rem 1.75rem 0 rgba(142, 0, 154, 0.15) !important;
}
.dropdown-menu {
  color: #b9b9b9 !important;
  background-color: #0e0e0e !important;
  border: 1px solid #323233 !important;
}
* {
  scrollbar-width: thin;
  scrollbar-color: #ff00ff #000000;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #000000;
}

*::-webkit-scrollbar-thumb {
  background-color: #ff00ff;
  border-radius: 5px;
  border: 8px solid #ff00ff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

